## install

In [ ]:
%%bash
apt-get install -q -y --no-install-recommends default-libmysqlclient-dev
# https://jupysql.ploomber.io/
pip3 install jupysql duckdb-engine mysqlclient

In [ ]:
%reload_ext sql

In [ ]:
# %sql sqlite://
%sql duckdb:// --alias duckdb
%sql sqlite:///main.db --alias sqlite
%sql mysql://root:xxxx@mysql5.7-master:3306/boot --alias mysql

## usage

In [ ]:
%%sql sqlite
create table user
(
    id          INTEGER         not null,
    user_name   TEXT default '' not null,
    password    TEXT default '' not null,
    age         INTEGER,
    birthday    TEXT default '' not null,
    update_time TEXT default '' not null,
    ext         TEXT default '' not null
);
INSERT INTO user (id, user_name, password, age, birthday, update_time, ext) VALUES (1, 'aaa-local', 'bbb', 18, 'ccc', 'ddd', '{"name": "Alice", "age": 30, "city": "New York"}');
INSERT INTO user (id, user_name, password, age, birthday, update_time, ext) VALUES (2, 'hhh', 'iii', 19, 'jjj', 'kkk', '{"name": "Alice", "age": 30, "city": "New York"}');

In [ ]:
%%sql sqlite
select id, user_name as un
from user
where true
and id = 1
;

## duckdb

In [ ]:
%%sql duckdb
# ddl
# DROP TABLE IF EXISTS user;
CREATE TABLE IF NOT EXISTS user (
    id INTEGER PRIMARY KEY,
    name VARCHAR,
    score DOUBLE,
    is_passed BOOLEAN,
    birth_date DATE,
    tags VARCHAR[3],
    list VARCHAR[],
    ext MAP(VARCHAR, INTEGER),
    metadata STRUCT(v VARCHAR, i INTEGER)
);

In [ ]:
%%sql duckdb
# insert
INSERT INTO user VALUES
(1, 'foo', 18.1, 'true', '2025-01-01', array_value('1.0'::VARCHAR, '2.0'::VARCHAR, '3.0'::VARCHAR), ['12', '34'],  MAP {'key1': 10, 'key2': 20, 'key3': 30}, row('a', 42));

In [ ]:
%%sql duckdb
select
tags[2],
list[2],
ext['key1'],
metadata.* as ss
from user

## mysql

In [ ]:
%%sql mysql
select *
from common_key_value
where true
and biz_type = 8
and invalid = 0
order by biz_type desc, common_key desc
;